@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root{
    --white-color: #FFFFFF;
    --nav-color: rgba(84, 106, 165, 1);
    --menu-color: rgba(42, 59, 104, 1);
    --main-color: rgba(173, 187, 224, 1);
    --other-color: rgb(157, 169, 203);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: aqua; /*modified here changed the color of the body */   

}
.foodoo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 1rem 1rem 1rem 1rem;
}
h1{
    color: var(--white-color);
}
.nav-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}
.nav-icons i{
    font-size: 20px;
    color: var(--white-color);
}
aside{
    background-color: var(--menu-color);
    width: 30vh;
    height: 100vh;
}
.menu-title{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
.menu-items{
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 30px;
    border-radius: 7px;
    background-color: var(--nav-color) ;
    color: white;
    text-transform: uppercase;
    width: 190px;
    height: 40px;
}
.menu-items a{
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--nav-color);

}
.menu-items a:hover{
    color: hsl(60, 94%, 50%);
   
}
.testing{
    display: flex;
    flex-direction: row;
}
main{
    background-color: var(--main-color);
    width: 170vh;
    height: 100vh;
}
.new-item{
    color: var(--menu-color);
    padding: 1.5rem;
    font-weight: bold;
    font-size: 25px;
}
.content{
    background-color: var(--other-color);
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.test1{
   background-color: var(--other-color);
   width: 150vh;
   padding: 1rem;
}
#date{
    height: 30px;
    margin-top: 20px;
    width: 50vh;
    border-radius: 7px;
    margin-left: 75px;
    background-color: var(--main-color);
}
#name{
    height: 30px;
    margin-top: 20px;
    width: 50vh;
    border-radius: 7px;
    margin-left: 15px;
    background-color: var(--main-color);
}
#unit{
    height: 30px;
    margin-top: 20px;
    width: 50vh;
    border-radius: 7px;
    margin-left: 55px;
    background-color: var(--main-color);
}
#pp{
    height: 30px;
    margin-top: 20px;
    width: 50vh;
    border-radius: 7px;
    background-color: var(--main-color);
    margin-left: 30px;
}
#ppu{
    height: 30px;
    margin-top: 20px;
    margin-left: 65px;
    width: 50vh;
    border-radius: 7px;
    background-color: var(--main-color);
}
.buttons{
    justify-content: center;
    padding: 4rem;
    align-content: center;
    padding-left: 15rem;
    margin-top: -20px;
}
button a{
    text-decoration: none;
    color: white;
    background-color: red;
    font-weight: bold;
}
.cancel-button, .reset, .submit{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    border: none;
}
.cancel-button{
   background-color: red;
}
.reset{
    background-color: var(--nav-color);
    color: white;
    font-weight: bold;
}
.submit{

    background-color: var(--nav-color);
    color: white;
    font-weight: bold;
}
