@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root{
    --white-color: #FFFFFF;
    --nav-color: rgba(84, 106, 165, 1);
    --menu-color: rgba(42, 59, 104, 1);
    --main-color: rgba(173, 187, 224, 1);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: aqua; /*modified here changed the color of the body */
    height: 100vh;
    
   
}
.foodoo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 1rem 1rem 1rem 1rem;
}

h1{
    color: var(--white-color);
}
.nav-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}
.nav-icons i{
    font-size: 20px;
    color: var(--white-color);
}
aside{
    background-color: var(--menu-color);
    width: 30vh;
    height: 100vh;
}
.menu-title{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
.menu-items{
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 30px;
    border-radius: 7px;
    background-color: var(--nav-color) ;
    color: white;
    text-transform: uppercase;
    width: 190px;
    height: 40px;
}
.menu-items a{
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--nav-color);

}
.menu-items a:hover{
    color: hsl(60, 94%, 50%);
   
}
.testing{
    display: flex;
    flex-direction: row;
}
main{
    background-color: var(--main-color);
    width: 200vh;
    height: 100vh;
    padding: 1rem 1rem 1rem 1rem ;
}
.searchbar{
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search{
    width: 125vh;
    height: 30px;
    padding: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
#search::placeholder{
    padding: 1rem;
}
#search:focus{
    border-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2) ;
}
.button{
    background-color: var(--menu-color);
    text-transform: uppercase;
    color: white;
    padding: 4px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: yellow;
}

.activity-one{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    padding-left: 110px;
}
.left-activity{
    
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
}
.sales-activity{
    display: flex;
    flex-direction: column;
    width: 67vh;
    height: 18vh;
    background-color: var(--main-color);
    border-radius: 10px;
    border:solid  2px var(--nav-color) ;
    color: var(--menu-color);
}
.try{
    background-color: var(--nav-color);
    border-radius: 10px;
    border-bottom-left-radius:1px;
    border-bottom-right-radius:1px;
    height: 30px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 4px;
    color: var(--menu-color);
}
.contain{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}
.contain1{
    background-color: var(--main-color);
    width: 22vh;
    height: 6vh;
    border-right: solid var(--nav-color);
    padding-top: 1rem;
    text-align: center;
   
}
.contain2{
    background-color: var(--main-color);
    width: 22vh;
    border-right: solid var(--nav-color);
    padding-top: 1rem;
    text-align: center;

}
.contain3{
    background-color: var(--main-color);
    width: 22vh;
    padding-top: 1rem;
    text-align: center;   
}
.writings{
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}
.writing1{
    background-color: var(--main-color);
    width: 21vh;
    text-align: center;
}
.writing2{
    background-color: var(--main-color);
    width: 22vh;
    text-align: center;
}
.writing3{
    background-color: var(--main-color);
    width: 22vh;
    text-align: center;
}
.inventory-stock{
    display: flex;
    flex-direction: column;
    width: 67vh;
    height: 18vh;
    background-color: var(--main-color);
    border-radius: 10px;
    border:solid var(--nav-color) ;
    color: var(--menu-color);
}
.inventory{
    background-color: var(--nav-color);
    border-radius: 10px;
    border-bottom-left-radius:1px;
    border-bottom-right-radius:1px;
    height: 30px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 4px;
}
.containing{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}
.containing1{
    background-color: var(--main-color);
    width: 34vh;
    height: 6vh;
    border-right: solid var(--nav-color);
    padding-top: 1rem;
    text-align: center;
}
.containing2{
    background-color: var(--main-color);
    width: 34vh;
    padding-top: 1rem;
    text-align: center;
    
}
.write{
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}
.write1{
    background-color: var(--main-color);
    width: 34vh;
    text-align: center;
}
.write2{
    background-color: var(--main-color);
    width: 34vh;
    text-align: center;
}
.sales-orders{
    background-color: var(--main-color);
    height: 37vh;
    width: 68vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: solid var(--nav-color);
    color: var(--menu-color);
}
.sub-orders{
    background-color: var(--nav-color);
    border-radius: 10px;
    border-bottom-left-radius:1px;
    border-bottom-right-radius:1px;
    height: 30px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 4px;
}
.sales-list{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
    gap: 1rem;
}
.channel{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    padding-top: 18px;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid var(--nav-color);
    text-transform: uppercase;
}
.confirmed{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    padding-top: 18px;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid var(--nav-color);
    text-transform: uppercase;
}
.packed{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    padding-top: 18px;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid var(--nav-color);
    text-transform: uppercase;
}
.delivered{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    padding-top: 18px;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid var(--nav-color);
    text-transform: uppercase;
}
.align{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.activity-two{
    display: flex;
    flex-direction: column;
    padding-left: 110px;
}
.top-sales{
    height: 18vh;
    width: 137vh;
    border: solid var(--nav-color);
    border-radius: 10px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    color: var(--menu-color);
}
.top-selling{
    background-color: var(--nav-color);
    border-radius: 10px;
    border-bottom-left-radius:1px;
    border-bottom-right-radius:1px;
    height: 30px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 4px;
}
.images{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
    list-style: none;
}
.images li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}





